<div class="banner-bookings">

<div class="container-wide">
  <div class="row">
    <div class="col-sm-12">
      <div class="">
        <h1><%= @paint.brand %></h1>
        <p><%= @paint.colour %></p>
        <p><%= @paint.volume %></p>
      </div>
      <div class="">
        <%= cl_image_tag(@paint.photo.key, width: 295, height: 200, crop: :fill) %>
      </div>
      <div class="booking-form">
        <%= render "form", booking: @booking %>
      </div>
    </div>
  </div>
</div>
