<div class="banner-bookings">
  <div><h1 class="show-title-h2 top-align">Pick a date and time</h1></div>
   <div class="paint-details-bookingform">
      <div class="card-show">
        <div class="card-image"><%= cl_image_tag(@paint.photo.key, width: 300, height: 300, crop: :fill) %></div>
        <div class="card-text">
          <h1><%= @paint.brand %></h1>
          <p><%= @paint.colour %></p>
          <p><%= @paint.volume %></p>
        </div>
        <div class="container-bookings">
        <%= render "form", booking: @booking %>
        </div>
     </div>
  </div>
</div>
