<div class="banner-bookings">
  <div class="row">
    <div class="col-sm-12">
      <div class="card-show-page">
        <h1><%= @paint.brand %></h1>
        <p><%= @paint.colour %></p>
        <p><%= @paint.volume %></p>
      </div>
      <div class="card-show-page-pic">
        <%= cl_image_tag(@paint.photo.key, width: 295, height: 200, crop: :fill) %>
      </div>
    </div>
  </div>
</div>

<div class="container-wide">
  <%= render "form", booking: @booking %>
</div>
