<div class="login-wrapper">

  <div class="card-product">
    <div class="card-product-infos">
      <h2><strong>Congratulations</strong>, you've made a booking!</h2>
    </div>
  </div>


  <%= @booking.paint.colour%>
  <%= @booking.paint.volume%>
  <%= @booking.paint.address%>
  <%= cl_image_tag(@booking.paint.photo.key, height: 100, width: 100, crop: :fill) %>
  <%= render 'shared/footer_relative' %>

</div>
