<div class="login-wrapper">
  <div><h1 class="show-title-h2 top-align">Booking confirmed</h1></div>
  <div class="aboutus-container">
    <div class="profile-box">
      <h1 class="profile-box-h1">Anna</h1>
      <%= image_tag "happy-painter-profile.jpg", style: "width: 150px"%>
      <%= cl_image_tag(@booking.paint.photo.key, height: 150, width: 150, crop: :fill) %>
          <div class="booking-paint-info">
            <p class="booking-paint-info-details"><%= @booking.paint.colour%></p>
            <p class="booking-paint-info-details"><%= @booking.paint.volume%></p>
            <p class="booking-paint-info-details"><%= @booking.paint.address%></p>
            <p class="booking-paint-info-details">contact number: 07974389972</p>
            <p class="booking-paint-info-details">pick up details: ring the top buzzer</p>
          </div>
    </div>
  </div>


  <div><h1 class="show-title-h2 top-align">Badges Earned</h1></div>


  <%# <div class="d-flex justify-content-center align-items-center px-4 mx-5"> %>

    <div class="badges-container">
      <div class="badges-card">
        <div class="box">
          <div class="badge-content">
            <h3>Your first booking</h3>
            <h4>Nice one, you booked your first paint collection</h4>
            <p><%= image_tag "trophy.png", class: "d-block mb-3 badge", style: "width: 200px" %></p>
          </div>
        </div>
      </div>

      <div class="badges-card">
        <div class="box">
          <div class="badge-content">
            <h3>Paint superhero</h3>
            <h4>Doing your bit to keep paint out of landfill</h4>
            <p><%= image_tag "dog.png", class: "d-block mb-3 badge", style: "width: 200px" %></p>
          </div>
        </div>
      </div>

      <div class="badges-card">
        <div class="box">
          <div class="badge-content">
            <h3>OurPaint family</h3>
            <h4>You're one of us now! Never buy new paint again</h4>
            <p><%= image_tag "teamwork.png", class: "d-block mb-3 badge", style: "width: 200px" %></p>
          </div>
        </div>
      </div>
    </div>

      </div>
      </div>
  <%# </div> %>
